<div class="field">
  <div class="horizontal">
    <div class="player1">
      <div class="horizontal__whists">
        <div class="horizontal__whists-w1">
          <span class="border">
            player 1 whist 1
          </span>
        </div>
      
        <div class="horizontal__whists-w2">
          player 1 whist 2
        </div>
    
        <div class="horizontal__whists-w3">
          <span class="border">
            player 1 whist 3
          </span>
        </div>
      </div>

      <div class="horizontal__bullet">
        <div class="border"></div>
      </div>

      <div class="horizontal__mountain">
        <div class="border"></div>
      </div>
    </div>

    <div class="player3">
      <div class="horizontal__whists">
        <div class="horizontal__whists-w1">
          <span class="border">
            player 3 whist 1
          </span>
        </div>
      
        <div class="horizontal__whists-w2">
          player 3 whist 2
        </div>
    
        <div class="horizontal__whists-w3">
          <span class="border">
            player 3 whist 3
          </span>
        </div>
      </div>

      <div class="horizontal__bullet">
        <div class="border"></div>
      </div>

      <div class="horizontal__mountain">
        <div class="border"></div>
      </div>
    </div>
  </div>

  <div class="vertical">

    <div class="player4">
      <div class="vertical__whists">
        <div class="vertical__whists-w1">
          <div class="border">
            <span class="text">player 4 whist 1</span>
          </div>
        </div>

        <div class="vertical__whists-w2">
            player 4 whist 2
        </div>

        <div class="vertical__whists-w3">
          <span class="border">
            player 4 whist 3
          </span>
        </div>
      </div>

      <div class="vertical__bullet">
        <div class="border"></div>
      </div>

      <div class="vertical__mountain">
        <div class="border"></div>
      </div>
    </div>

    <div class="player2">
      <div class="vertical__whists">
        <div class="vertical__whists-w1">
          <div class="border">
            <span class="text">player 2 whist 1</span>
          </div>
        </div>

        <div class="vertical__whists-w2">
            player 2 whist 2
        </div>

        <div class="vertical__whists-w3">
          <span class="border">
            player 2 whist 3
          </span>
        </div>
      </div>

      <div class="vertical__bullet">
        <div class="border"></div>
      </div>

      <div class="vertical__mountain">
        <div class="border"></div>
      </div>
    </div>

  </div>
</div>